body {
    background-color: rgb(36, 36, 36);
}

.guessContainer {
    display: flex;
    justify-content: center;
}

.key {
  width: 40px;
  height: 50px;
  margin: 2px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.key.enter {
  width: fit-content;
}

.key.backspace {
  width: fit-content;
}

.other-buttons {
  display: flex;
  justify-content: center;
}

.key-N {
  background-color: #777;
  color: white;
}

.key-M {
  background-color: #c9b458;
  color: white;
}

.key-Y {
  background-color: #6aaa64;
  color: white;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.guess-row {
    display: flex;
    align-items:center;
    justify-content: center;
}

.letter-guess-box {
    width: 50px;
    height: 50px;
    border: 2px solid #888;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.letter-guess-box.filled {
    border: 2px solid #bebebe;
}

